#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-size);
    position: relative;
    --icon-size: 26px;
    padding: 0px 15px;
}

#header .button-group {
    display: flex;
    gap: 7px;
}

#header .header-button {
    display: flex;
}

#header .header-button.logo > .logo{
    position: absolute;
    left: 50%;
    background-color: var(--background-secondary);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 100%;
    transform: translate(-50%, -50%);
}

#header .header-button svg path{
    stroke-width: 1.5;
}