#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-size);
    position: sticky;
    --icon-size: 26px;
    padding: 0px 15px;
    top: 0;
    background-color: var(--background-primary);
    z-index: 1; 
}

#header .button-group {
    display: flex;
    gap: 7px;
}

#header .header-button {
    display: flex;
}

#header .header-button.logo > .logo{
    position: absolute;
    left: 50%;
    background-color: var(--background-secondary);
    width: 38px;
    height: 38px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}
