#modais {
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.17);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

#modais.active {
    opacity: 1;
    pointer-events: auto;
}

#modais .modal {
    position: fixed; 
    width: 75%;
    height: 100%;
    background-color: var(--background-primary);
    transition: left 0.4s ease, right 0.4s ease;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

#modais .modal.left {
    left: -100%;
}

#modais .modal.right {
    right: -100%;
}

#modais.active .modal.active.left {
    left: 0;
}

#modais.active .modal.active.right {
    right: 0;
}

#modais .modal .modal-header {
    display: flex;
    align-items: center;
    height: var(--header-size);
    border-bottom: 1px solid var(--background-secondary);
}

#modais .modal .modal-header .exit-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

#modais .modal .modal-header .exit-button svg {
    height: 27px;
    width: 27px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--background-secondary);
    padding-bottom: 60px;
}

.modal-content .section-list .section-item{
    display: flex;
    padding: 10px 0px;
}
.modal-content .section-list .section-item{
    display: flex;
    flex-direction: column;
}


.modal-content .section-list .section-item.multi{
    display: flex;
    align-items: center;
    gap: 10px;
}


.modal-content .section-list .section-item .group{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.modal-content .section-list .section-item.multi .group svg{
    width: 17px;
    height: 17px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}
.modal-content .section-list .section-item.multi.open .group svg{
    transform: rotate(180deg);
}

.modal-content .section-list .section-item .multilist{
    display: none;
}

.modal-content .section-list .section-item.multi.open .multilist{
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 10px;
}



.modal-section {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 20px;
}

.modal-section.orderby {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 20px;
}



#filtros .input-group {
    display: flex;
    width: 100%;
    gap: 10px;
}

#filtros .input-group > div{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
}